@import 'tailwindcss';
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));


@plugin "daisyui/theme" {
	name: "Kaze";
	default: true;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(13% 0.028 261.692);
	--color-base-200: oklch(21% 0.034 264.665);
	--color-base-300: oklch(27% 0.033 256.848);
	--color-base-content: oklch(96% 0.003 264.542);
	--color-primary: oklch(42% 0.199 265.638);
	--color-primary-content: oklch(96% 0.016 293.756);
	--color-secondary: oklch(70% 0.183 293.541);
	--color-secondary-content: oklch(27% 0.046 192.524);
	--color-accent: oklch(74% 0.16 232.661);
	--color-accent-content: oklch(0% 0 0);
	--color-neutral: oklch(55% 0.046 257.417);
	--color-neutral-content: oklch(98% 0.002 247.839);
	--color-info: oklch(76% 0.177 163.223);
	--color-info-content: oklch(30% 0.056 229.695);
	--color-success: oklch(84% 0.238 128.85);
	--color-success-content: oklch(27% 0.072 132.109);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(71% 0.202 349.761);
	--color-error-content: oklch(28% 0.109 3.907);
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1.5px;
	--depth: 1;
	--noise: 0;
  }
  
  
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
	html {
		font-family: 'Oswald';
	}

	main {
		@apply dark:bg-gray-800 bg-white;
	}

	body {
		@apply dark:bg-gray-800 bg-white;
	}

	.title {
		@apply text-5xl font-semibold text-center p-4;
	}

	a,
	code {
		@apply dark:text-gray-100;
	}

	p {
		@apply dark:text-gray-300 font-light text-xl font-sans leading-tight py-1;
	}

	strong {
		@apply dark:text-gray-100 font-semibold;
	}

	h1 {
		@apply text-6xl py-3 font-bold dark:text-gray-100;
	}

	h2 {
		@apply text-4xl py-3 font-bold dark:text-gray-100;
	}

	h3 {
		@apply text-2xl py-3 dark:text-gray-100;
	}

	ol {
		@apply list-decimal list-inside p-4;
	}

	li {
		@apply dark:marker:text-white dark:text-gray-300 font-light text-xl font-sans leading-tight py-1;
	}
}

@layer components {
	.block {
		padding: 1rem;
	}
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--text-color: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
		--text-color: 160, 160, 160;
	}
}
